{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kats</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <header class="opaque-navbar">
        <nav class="container">
            <ul class="navbar">
                <li><a href="{% url 'home' %}">Home</a></li>

                {% if request.user.is_authenticated %}
                    {% if request.user.perfilusuario.tipo_usuario == 'administrador' %}
                        <!-- Opciones para administradores -->
                        <li><a href="{% url 'enviar_propuesta' %}">Enviar Propuesta</a></li>
                        <li><a href="{% url 'estadisticas' %}">Estadísticas</a></li>
                        <li><a href="{% url 'exit' %}">Salir</a></li>
                    {% elif request.user.perfilusuario.tipo_usuario == 'Ciudadano' %}
                        <!-- Opciones para ciudadanos -->
                        <li><a href="{% url 'voto' %}">Votar</a></li>
                        <li><a href="{% url 'exit' %}">Salir</a></li>
                    {% endif %}
                {% else %}
                    <!-- Opciones para usuarios no autenticados -->
                    <li><a href="{% url 'login' %}">Ingresar</a></li>
                    <li><a href="{% url 'register' %}">Registrarse</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}
</body>
</html>
