*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #c1bdba;
  font-family: "Titillium Web", sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  transition: 0.5s ease;
}
a:hover {
  color: #179b77;
}

h1 {
  text-align: center;
  color: #1ab188;
  font-weight: 700;
  margin: 20px 0 30px;
  font-family: 'Times New Roman', Times, serif;
}

h3 {
  text-align: center;
  color: #1ab188;
  font-weight: 500;
  margin: 20px 0 10px;
  font-family: 'Times New Roman', Times, serif;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}

.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
}

.propuestas-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.propuestas-container ul {
  background-color: #333a40;
  border-radius: 8px;
  padding: 20px;
}

.propuestas-container li {
  background: #1e2a30;
  color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.propuestas-container li strong {
  color: #1ab188;
}

.propuestas-container hr {
  border: 1px solid #444;
}

li a {
  color: #ff4d4d;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
  transition: color 0.3s ease;
}

li a:hover {
  color: #ff1a1a;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #1ab188;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover,
.button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}
